In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
sheet_id = "1PVYMmQCf1WjRANxRab9YL2dyBuNDPTASki_-t2TDG1M"
sheet_name = "players"
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"

In [3]:
df = pd.read_csv(url)
df = df[df["Are you playing?"] == "yes"]
df

     Players  Level Are you playing?
0       aina      3              yes
1      cathy      1              yes
2   clamiras      5              yes
3      denis      1              yes
6     idealy      2              yes
7        joy      2              yes
10  mpanjato      5              yes
11    ndimby      2              yes
12   patrick      3              yes
13      rado      4              yes
14       ste      5              yes
15    tahiry      3              yes
16     tambi      2              yes
20    tsangy      2              yes

In [4]:
def divide_almost_equally_into_2(arr):
    good = []
    bad = []
    sum_good = sum_bad = arr_index = 0
    while arr_index < len(arr):
        if sum_good < sum_bad:
            good.append(arr[arr_index])
            sum_good += arr[arr_index]
        else:
            bad.append(arr[arr_index])
            sum_bad += arr[arr_index]
        arr_index += 1
    return good, bad

In [5]:
reversed_levels = df["Level"].values
reversed_levels = df["Level"].sort_values(ascending=False)
print(reversed_levels.values)
balanced_levels = divide_almost_equally_into_2(reversed_levels.values)
print(balanced_levels)

level_players = df.groupby("Level")["Players"].apply(list).to_dict()
level_players
# players_and_level = dict(zip(df["Level"].values, df["Players"].values))
# print(players_and_level)

[5 5 5 4 3 3 3 2 2 2 2 2 1 1]
([5, 4, 3, 3, 2, 2, 1], [5, 5, 3, 2, 2, 2, 1])

{1: ['cathy', 'denis'],
 2: ['idealy', 'joy', 'ndimby', 'tambi', 'tsangy'],
 3: ['aina', 'patrick', 'tahiry'],
 4: ['rado'],
 5: ['clamiras', 'mpanjato', 'ste']}

In [6]:
radiant_level = balanced_levels[0]
dire_level = balanced_levels[1]
print(f"radiant_level:\t{radiant_level}\tCombined levels = {sum(radiant_level)}")
print(f"dire_level:\t{dire_level}\tCombined levels = {sum(dire_level)}")

radiant_level:	[5, 4, 3, 3, 2, 2, 1]	Combined levels = 20
dire_level:	[5, 5, 3, 2, 2, 2, 1]	Combined levels = 20

In [7]:
radiant_players = []
dire_players = []
for i in radiant_level:
    random_player = random.choice(level_players[i])
    radiant_players.append(random_player)
    level_players[i].remove(random_player)
for i in dire_level:
    random_player = random.choice(level_players[i])
    dire_players.append(random_player)
    level_players[i].remove(random_player)
print(f"RADIANT\r\nCombined Levels = {sum(radiant_level)}\r\nPlayers: {radiant_players}\r\nLevels: {radiant_level}")
print(f"\r\n")
print(f"DIRE\r\nCombined levels = {sum(dire_level)}\r\nPlayers: {dire_players}\r\nLevels: {dire_level}")

RADIANT
Combined Levels = 20
Players: ['mpanjato', 'rado', 'tahiry', 'aina', 'tsangy', 'tambi', 'denis']
Levels: [5, 4, 3, 3, 2, 2, 1]


DIRE
Combined levels = 20
Players: ['ste', 'clamiras', 'patrick', 'ndimby', 'idealy', 'joy', 'cathy']
Levels: [5, 5, 3, 2, 2, 2, 1]